@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center hidden;
  }
  .nav-link-mobile {
    @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
  }

  .heading {
    @apply text-center text-white text-[28px] sm:text-[33px] md:text-[45px] font-bold uppercase;
  }
}

::-webkit-scrollbar-track {
  background-color: #141c27;
}
::-webkit-scrollbar {
  width: 6px;
  height: 18px;
  transition: background-color 0.2s ease-in, color 0.3s ease-out;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 12px;
  transition: background-color 0.2s ease-in, color 0.3s ease-out;
}
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #c5c5c5;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* scroll-padding: 3.8rem;

  @media (min-width: 768) {
    scroll-padding: 6.8rem;
  } */
}
